/* * * * * * TermsOfUse * * * * * */
.aw-user .termsofuse .cont {
    overflow-y: scroll;
    width: 600px;
    height: 360px;
    border: 1px solid #e5e5e5;
    padding: 10px;
}

.aw-user .termsofuse .loadingform {
    padding: 130px 0;
    text-align: center;
}

.aw-user .termsofuse p {
    text-align: justify;
}

.aw-user .termsofuse .buttons {
    margin-top: 7px;
}
